In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import joblib

In [2]:
import sys
import os
sys.path.append(os.path.abspath("../scripts"))
try:
    from eda import ExplanatoryAnalysis
    from model_training import modelTrain
except:
    print("import error")

In [3]:
df_bnd = pd.read_csv('C:\\Users\\Aman\\Desktop\\kifyaw11\\Data\\BND_raw_data.csv')
df_spy = pd.read_csv('C:\\Users\\Aman\\Desktop\\kifyaw11\\Data\\SPY_raw_data.csv')
df_tsla = pd.read_csv('C:\\Users\\Aman\\Desktop\\kifyaw11\\Data\\TSLA_raw_data.csv')

In [4]:
bnd_eda = ExplanatoryAnalysis()
spy_eda = ExplanatoryAnalysis()
tsla_eda = ExplanatoryAnalysis()

In [5]:
df_bnd=bnd_eda.to_time(df_bnd, "BND")
df_spy=spy_eda.to_time(df_spy, "SPY")
df_tsla=tsla_eda.to_time(df_tsla, "TSLA")

In [6]:
df_bnd

            Close_BND   High_BND    Low_BND   Open_BND  Volume_BND
Date
2015-01-02  62.573120  62.603404  62.398988  62.406560     2218800
2015-01-05  62.754799  62.777511  62.610951  62.641235     5820100
2015-01-06  62.936516  63.125787  62.860808  62.860808     3887600
2015-01-07  62.974384  63.050092  62.875965  62.944100     2433400
2015-01-08  62.875988  62.921411  62.815420  62.921411     1873400
...               ...        ...        ...        ...         ...
2025-01-24  71.805977  71.855810  71.636531  71.766106     5555700
2025-01-27  72.184738  72.204677  72.025262  72.104996     8621200
2025-01-28  72.144867  72.154837  71.975421  72.154837     4424300
2025-01-29  72.104996  72.254510  71.935550  72.194707     5780200
2025-01-30  72.204674  72.294378  72.144864  72.224605     5622300

[2535 rows x 5 columns]

In [6]:
bnd_model = modelTrain(df_bnd)
spy_model = modelTrain(df_spy)
tsla_model = modelTrain(df_tsla)

In [ ]:
bnd_trained = bnd_model.forecast_plot("BND")

In [ ]:
tsla_trained = tsla_model.model()

In [ ]:
spy_trained = spy_model.model()